/* ./styles/globals.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'theme.css';

html,
body {
  @apply bg-white;
}

.icon-color-secondary {
  @apply opacity-50;
}

.icon-color-tertiary {
  @apply opacity-30;
}

.f1 {
  animation: f1 450ms;
}

@keyframes f1 {
  0% {
    @apply h-[27px];
  }
  33% {
    @apply w-[27px] h-[101px];
  }
}

.f2 {
  animation: f2 450ms;
}

@keyframes f2 {
  0%,
  33% {
    @apply w-0;
  }
  66% {
    @apply w-[70px];
  }
}

.f3 {
  animation: f3 450ms;
}

@keyframes f3 {
  0%,
  66% {
    @apply w-0;
  }
}

.l1.animate,
.l2.animate,
.l3.animate,
.logo-letter-L.animate,
.u1.animate,
.u2.animate,
.u3.animate,
.u4.animate,
.logo-letter-U.animate {
  @apply block;
  animation-play-state: running;
}

.l2 {
  animation: l2 450ms;
  animation-play-state: paused;
}

@keyframes l2 {
  0%,
  66% {
    @apply bottom-[73px] w-[70px];
  }
}

.l3 {
  animation: l3 450ms;
  animation-play-state: paused;
}

@keyframes l3 {
  0%,
  33% {
    @apply bottom-[26px];
  }
  66% {
    @apply bottom-0;
  }
}

.logo-letter-L {
  @apply hidden;
  animation-play-state: paused;
  animation: logo-letter-L 150ms;
}

@keyframes logo-letter-L {
  0% {
    @apply left-0;
  }
}

.u1 {
  animation: u1 150ms;
  animation-play-state: paused;
}

@keyframes u1 {
  0% {
    @apply h-[100px];
    @apply rounded-[3px];
  }
}

.u2 {
  animation: u2 150ms;
  animation-play-state: paused;
}

@keyframes u2 {
  0% {
    @apply w-[60px];
    @apply h-[27px];
    @apply rounded-[3px];
    @apply right-[24px];
    @apply bottom-[1px];
  }
}

.u3 {
  animation: u3 150ms;
  animation-play-state: paused;
}

@keyframes u3 {
  0% {
    @apply w-[60px];
    @apply h-[27px];
    @apply rounded-[3px];
    @apply bottom-[1px];
  }
}

.logo-letter-U {
  @apply hidden;
  animation-play-state: paused;
  animation: logo-letter-U 150ms;
}

@keyframes logo-letter-U {
  0% {
    @apply left-[76px];
  }
}
